<h1>{{ product.title }}</h1>
<p>{{ product.description }}</p>
<img src="{{product.image.url}}"/>

<form action="{% url 'cart:add_to_cart' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>Select a size</h1></legend>
        {% for variant in product.variant_set.all %}
            <input type="radio" name="variant" id="variant{{ forloop.counter }}" value="{{ variant.id }}">
            <label for="variant{{ forloop.counter }}">{{ variant.length }}"x{{ variant.width }}"</label><br>
        {% endfor %}
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" id="quantity">
    </fieldset>
    <input type="submit" value="Add to cart">
</form>
